@font-face {
    font-family: "NVIDIA";
    font-style: normal;
    font-weight: 300;
    
    src: url("fonts/ans_W_Lt.woff") format("woff")}
body {
    background-color: #0a0c10;
    color: aliceblue;
    font-size: 22px;
    font-family: NVIDIA,Arial,Helvetica,Sans-Serif;
    line-height: 44px;
    margin: 0;
}

::selection {
    background: #f22f20; /* Safari */
    color: aliceblue;
    }
footer {
    font-size: 14px;
    background-color: #11141a;
}
.footblock {
    display: flex;
    justify-content: space-between;
    max-height: 50;
}
footer a {
    color: white;
}
.footlist {
    display: flex;
    flex-direction: row;
    list-style: none;
    align-items: center;
    padding-inline-start: 0px;
}
.footlist a {
    text-decoration: none;

}
.footnav li {
    display: flex;
    padding-right: 30px;
    align-items: center;
}
.policy a {
    padding-left: 15px;

}
.row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}
section {
    padding: 0 327px;
}
header {
    background-color: #272b33;
    margin-bottom: 50;
}
.header {
    display: flex;
    justify-content: center;
    margin: auto;
}
h2 {
    text-align: center;
}
.navlist {
    justify-content: space-between;
    display: flex;
    flex-direction: row;
    list-style: none;
    align-items: center;
}
.navlist li {
    padding: 0 20px;
    margin: auto;
}
.navlist a {
    text-decoration: none;
    color: white;
}
.navlist li:hover {
    background-color: #030303;
}
.main{}
.maininfo {
    display: flex;
    flex-direction: column;
}
.head-logo{
    display: flex;
    /* justify-content: center; */
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
}
.logo{
    background-image: url(media/logo1.png);
    background-size: contain;
    background-repeat: no-repeat;
    height: 200px;
    width: 200px;

}
.afterlogo {
    
    margin: 0;
    position: relative;
    top: -50;
    left: 85;
    line-height: 1;
    opacity: 0.5;

}
.title {
    text-align: center;
    color: #e43034;
    display: flex;
    font-size: 70px;
    justify-content: center;
}
.title span{
    color: white;
}
.pagetext {
   /* padding-left: 25px;*/
}
.teamblock {
    width: 100%;
    display: block;
    font-size: 14px;
    line-height:normal;
}
.teamblock h3{
    margin: auto;
}
.teamblock h4{
    margin: auto;
}
.teamimg {
    margin-right: 15px;
    width: 20%;
    height: auto;
    float: left;
}
.teamimgright {
    float: right;
    margin-left: 15px;
    width: 20%;
    height: auto;

}
.teamperson {
    margin: 100px 0;
}
.caption {
    text-align: center;
}
.personinfo {
    width: auto;
    text-align: justify;

}
