@font-face {
    font-family: "NVIDIA";
    font-style: normal;
    font-weight: 300;
    
    src: url("fonts/ans_W_Lt.woff") format("woff")}
body {
    background-color: #0a0c10;
    color: aliceblue;
    font-size: 22px;
    font-family: NVIDIA,Arial,Helvetica,Sans-Serif;
    line-height: 44px;
    margin: 0;
}
footer {
    font-size: 16px;
}
.row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}
.col-xl-auto {
    flex: 0 0 auto;
    width: auto;
    max-width: 100%;
}

section {
    padding: 0 327px;
}
header {
    background-color: #272b33;
}
.header {
    display: flex;
    justify-content: center;
    margin: auto;
}
h2 {
    text-align: center;
}
.navlist {
    justify-content: space-between;
    display: flex;
    flex-direction: row;
    list-style: none;
    align-items: center;
}
.navlist li {
    padding: 0 20px;
    margin: auto;
}
.navlist a {
    text-decoration: none;
    color: white;
}
.navlist li:hover {
    background-color: #030303;
}

.main{}
.maininfo {
    display: flex;
    flex-direction: column;
}
.head-logo{
    display: flex;
    /* justify-content: center; */
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
    margin: 50 0;
}
.logo{
    background-image: url(media/logo1.png);
    background-size: contain;
    background-repeat: no-repeat;
    height: 200px;
    width: 200px;

}
.afterlogo {
    
    margin: 0;
    position: relative;
    top: -50;
    left: 85;
    line-height: 1;
    opacity: 0.5;

}
.title {
    text-align: center;
    color: #e43034;
    display: flex;
    font-size: 70px;
    justify-content: center;
}
.title span{
    color: white;
}
